body.docked {
	background: url('../images/docked_glass_frame.png') no-repeat transparent;
	/*border: 1px solid red;*/
}

body.undocked {
	background: url('../images/undocked_glass_frame.png') no-repeat transparent;
	/*border: 1px solid red;*/
}

html {
	height: 100px;
	width: 130px;
}