body, html, * {
	padding: 0;
	margin: 0;
	/*border: 1px solid red;*/
}

body {
	height: 100px;
	width: 130px;
	padding: 0;
	margin: 0;
	/*border: 1px solid red;*/
}

body.docked {
	height: 100px;
	width: 130px;
}

body.undocked {
	height: 280px;
	width: 360px;
}

.docked > * {
	top: 5px;
	left: 4px;
}

.undocked > * {
	top: 5px;
	left: 4px;
}

#backgroundId {
	position:absolute;
	z-index:-1;
}

#gadgetContent {
	position:absolute;
	color: white;
	z-index:1;
}

.docked #gadgetContent {
	top: 5px;
	left: 4px;
}

.undocked #gadgetContent {
	top: 16px;
	left: 17px;
	height: 250px;
	width: 320px;
}

#gar_img {
	
}

#flyout_button {
	opacity: 0.5;
}

.docked #flyout_button {
	top: 25px;
}

#bar {
	position:absolute;
    z-index:2;
    filter:alpha(opacity=0);
    overflow:hidden;
	background: url(../images/bg_sidebar.png) no-repeat transparent;
	width:112px;
    height:22px;
	padding-left: 4px;
	padding-top: 3px;
}

.docked #bar {
	top: 63px;
	left: 3px;

}

.undocked #bar {
	top: 210px;
	left: 107px;

}

#bar_volumeIn {
	margin-left: 1px;
}

#bar_web {
	margin-left: 8px;
}

#text {
	color: red;
}

.docked #banner {
	width: 120px;
	height: 25px;
}

.undocked #banner {
	width: 320px;
	height: 60px;
}
